n8n/workflows/drive_watch.json
{
  "meta": {
    "instanceId": "drive-watch-instance"
  },
  "name": "Google Drive File Watcher",
  "nodes": [
    {
      "parameters": {
        "resource": "file",
        "operation": "upload",
        "name": "={{$json.name}}",
        "parentId": "={{$env.GOOGLE_DRIVE_KNOWLEDGE_FOLDER_ID}}",
        "options": {}
      },
      "id": "drive-trigger",
      "name": "Watch Drive Folder",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [240, 300],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "google-drive-oauth",
          "name": "Google Drive OAuth2"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://agenta:8001/agentA/ingest",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "driveFileId",
              "value": "={{$json.id}}"
            },
            {
              "name": "fileName",
              "value": "={{$json.name}}"
            }
          ]
        },
        "options": {}
      },
      "id": "auto-ingest",
      "name": "Auto Ingest File",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [460, 300]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": "={{$env.CONVERSATIONS_SHEET_ID}}",
        "sheetName": "Conversations",
        "columns": {
          "mappingMode": "defineBelow",
          "values": {
            "Timestamp": "={{new Date().toISOString()}}",
            "User": "System",
            "Intent": "auto_ingestion",
            "Input": "File uploaded: {{$json.name}}",
            "Output": "={{$json.status || 'Processed successfully'}}",
            "Confidence": "1.0",
            "Citations": "",
            "Error": "={{$json.error || ''}}"
          }
        },
        "options": {}
      },
      "id": "log-ingestion",
      "name": "Log Auto Ingestion",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [680, 300],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "google-sheets-oauth",
          "name": "Google Sheets OAuth2"
        }
      }
    }
  ],
  "connections": {
    "Watch Drive Folder": {
      "main": [
        [
          {
            "node": "Auto Ingest File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Auto Ingest File": {
      "main": [
        [
          {
            "node": "Log Auto Ingestion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-09-14T00:00:00.000Z",
  "versionId": "1"
}
